<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=640,initial-scale=0.5,user-scalable=no">
		
		<style type="text/css" media="screen">
		
		* {
			margin:0;
			padding:0;
			border:none;
			-webkit-user-select:none;
		}

		body {
			background: black url('checker-pattern.png') 
				repeat scroll top left;
			font: 28px/1em "Helvetica";
			color: #FFF;
			overflow: hidden;
			-webkit-tap-highlight-color: rgba(0,0,0,0)
		}
		
		</style>
		
	</head>
	<body>
		<script src="framer.js"></script>
		<script src="app.js"></script>
	</body>
</html>