.DS_Store
node_modules
test/init.js
test/lib/framer.js
*.swp
build/template
build
lib
.build
.deploy
*.pyc
npm-debug.log
extras/Studio.framer/app.coffee
extras/Studio.framer/framer/config.json
extras/Studio.framer/imported
extras/Studio.framer/app.js
test/phantomjs/tests.js
test/phantomjs/tests.js.map
