.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea
node_modules
build
npm-debug.log
yarn-error.log


