.DS_Store
node_modules
test/init.js
test/lib/framer.js
*.swp
build/template
build
lib
.build
.deploy
*.pyc
npm-debug.log
extras/Studio.framer/app.coffee
extras/Studio.framer/framer/config.json
extras/Studio.framer/framer/.bowerrc
extras/Studio.framer/framer/init.js
extras/Studio.framer/Icon
extras/Studio.framer/imported
extras/Studio.framer/app.js
test/phantomjs/tests.js
test/phantomjs/tests.js.map
framer/**/*.js
framer/**/*.js.map
test/tests/**/*.js
test/tests/**/*.js.map
extras/Perf.framer/**/*.js
extras/Perf.framer/**/*.js.map
gulpfile.js
gulpfile.js.map

# Discard version changes
framer/Version.coffee

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Docker
_cache
_steps
_builds
_projects
extras/DevServer.framer/app.coffee
extras/DevServer.framer/framer/config.json
imported
cursor-active.png
cursor-active@2x.png

# Ed
.idea
