{% extends "base.html" %}
{% block content %}

<a id="docs" href="http://github.com/motif/moonbase">Documentation</a>

<section id="wrapper">

	<div id="iconWrapper">
		<div class="icon autocomplete"></div>
		<div class="icon layerpanel"></div>
		<div class="icon preview"></div>
	</div>

	<p>
		The <strong>default template</strong> is a barebones starting point for your project. It has all the files you need to set up a website, yet barely any pre-defined styles. If you’d like to start from scratch, this one’s for you.
	</p>

</section>

{% endblock %}
