{% extends "base.html" %}
{% block content %}

<section id="wrapper">

path: {{ path }}
domain: {{ domain }}
date: {{ date | date("DD MM YY") }}

<!-- You can include files from the template path -->
{% include "includeA.html" %}

<!-- You can include files from inside markdown -->
{% markdown %}
{% include "includeB.html" %}
{% endmarkdown %}

<!-- You can include a markdown file directly -->
{% markdown "includeC.md" %}

<!-- You can use markdown -->
{% markdown %}
### Big Title

## Smaller Title

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<!-- You can use nurmal html inside markdown -->
<b>hello</b> 

{% endmarkdown %}

<!-- You can use markdown for code highlights with highlights -->
{% markdown %}
Some highlighted code:

```source.coffee
# Comment
layer = new Layer
layer.x = 500
layer.centerY()
```
{% endmarkdown %}

</section>
{% endblock %}
