@import "components/reset.scss";

@import "../sprites/mainpage.scss";
@include sprites($spritesheet-sprites);
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @include retina-sprites($retina-groups); }

body {
	font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #777;
}

p {
	line-height:1.8;
}

strong {
	font-weight: 500;
	color: #333;
}

a {
	text-decoration: none;
	color: #5badf0;
}

#wrapper {
	margin: 0 auto;
	max-width: 560px;
	padding: 160px 40px;
}

#docs {
	position: fixed;
	top: 8px;
	right: 6px;
	background: #5badf0;
	color: #fff;
	padding: 8px 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.35;
	border-radius: 3px;
	z-index: 100;
}

#iconWrapper {
	text-align: center;
}

.icon {
	text-align: center;
	margin: 40px;
	display: inline-block;
}
