<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=640,initial-scale=0.5,user-scalable=no">

	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="icon/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="icon/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="icon/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="icon/apple-touch-icon-precomposed.png">

	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

	{% block header %}
	<title>{% block title %}Default{% endblock %}</title>
	{% endblock header %}

</head>
<body>
	{% block scripts %}
	<script src="{% static '/framer/framer.js' %}"></script>
	{% endblock scripts%}

	{% block content %}
	Main content
	{% endblock content %}
</body>
</html>
